package {domain_snake_name}_service

import (
	{domain_snake_name}_interfaces "{module_name}/internal/domains/{domain_snake_name}/interfaces"
)

type serviceImpl struct {
	RepositoryMySQL {domain_snake_name}_interfaces.RepositoryMySQL
}

func New(repositoryMySQL {domain_snake_name}_interfaces.RepositoryMySQL) {domain_snake_name}_interfaces.Service {
	return &serviceImpl{
		RepositoryMySQL: repositoryMySQL,
	}
}
