package {domain_snake_name}_repository

import (
	"gorm.io/gorm"
	{domain_snake_name}_interfaces "{module_name}/internal/domains/{domain_snake_name}/interfaces"
)

type postgresRepositoryImpl struct {
	DB *gorm.DB
}

func NewPostgresRepository(db *gorm.DB) {domain_snake_name}_interfaces.PostgresRepository {
	return &postgresRepositoryImpl{
		DB: db,
    }
}
