package {domain_snake_name}_repository_mysql

import (
	"gorm.io/gorm"
	{domain_snake_name}_interfaces "{module_name}/internal/domains/{domain_snake_name}/interfaces"
)

type repositoryImpl struct {
	DB *gorm.DB
	Tx *gorm.DB
}

func New(db *gorm.DB) {domain_snake_name}_interfaces.RepositoryMySQL {
	return &repositoryImpl{
		DB: db,
	}
}

func (r *repositoryImpl) db() *gorm.DB {
	if r.Tx != nil {
		return r.Tx
	}
	return r.db()
}
