package {domain_snake_name}_repository_mysql

import (
	"context"
	mysql_models "{module_name}/internal/models/mysql"
)

func (r *repositoryImpl) GetByID(ctx context.Context, id int64) ({domain_camel_name} mysql_models.{domain_pascal_name}, err error) {
	err = r.DB.WithContext(ctx).
		First(&{domain_camel_name}, "id = ?", id).
		Error
	return
}
