package {domain_snake_name}_repository

import (
	"gorm.io/gorm"
	{domain_snake_name}_interfaces "{module_name}/internal/domains/{domain_snake_name}/interfaces"
)

type repositoryImpl struct {
	DB *gorm.DB
}

func NewRepository(db *gorm.DB) {domain_snake_name}_interfaces.Repository {
	return &repositoryImpl{
		DB: db,
    }
}
