package {domain_package_name}

import (
	"{module_name}/internal/domains/{domain_package_name}/{package_name}"

	"github.com/goava/di"
	"github.com/labstack/echo/v4"
)

type {domain_pascal_name}RouterParams struct {
	di.Inject

	Echo *echo.Echo

	// Add features handler here
	{pascal_name} {package_name}.Handler
}

func SetupRouter(r {domain_pascal_name}RouterParams) {
	router := r.Echo.Group("{domain_snake_name}")

	// Add features routes here
}
