package {domain_snake_name}_interfaces

import (
	"github.com/labstack/echo/v4"
	domains_interfaces "{module_name}/internal/domains/interfaces"
)

type RestDelivery interface {
	domains_interfaces.BaseRestDelivery

	Get{domain_pascal_name}(c echo.Context) (err error)
}
