package {domain_snake_name}_interfaces

import (
	"context"
	"{module_name}/internal/models"
)

type Repository interface {
	GetByID(ctx context.Context, id int64) ({domain_camel_name} models.{domain_pascal_name}, err error)
}
