package {domain_snake_name}_interfaces

import (
	"context"
	"{module_name}/internal/dtos"
	mysql_models "{module_name}/internal/models/mysql"
)

type Service interface {
	GetByID(ctx context.Context, params dtos.Get{domain_pascal_name}Req) ({domain_camel_name} mysql_models.{domain_pascal_name}, err error)
}
